:root {
    --card-height: 65vh;
    --card-width: calc(var(--card-height) / 1.5);
}

@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}

.cardDesc {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
}

.ing {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
}

.pagin {
    overflow: auto;
}

.btn {
    display: inline-block;
    padding: 0.75rem 1.25rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.btn:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0cf;
    z-index: -2;
}

.btn:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #008fb3;
    transition: all 0.3s;
    z-index: -1;
}

.btn:hover {
    color: #fff;
}

.btn:hover:before {
    width: 100%;
}

.card-magic {
    background: #191c29;
    position: relative;
    background: #191c29 !important;
    color: white;
    border: none !important;
}

.card-magic:hover:before,
.card-magic:hover:after {
    animation: none;
    opacity: 0;
    content: none
}

.card-magic::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(var(--rotate), #1185a5, #6d7ca8 43%, #4e00c2);
    opacity: .6;
    transition: opacity 2s;
    animation: spin 2.5s linear infinite;
}

@keyframes spin {
    0% {
        --rotate: 0deg;
    }

    100% {
        --rotate: 360deg;
    }
}